<!-- <head> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- </head> -->
<!-- <body> -->
    <div class="container mt-4">
        <!-- <h2>Welcome</h2> -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date Applied</th>
                    <th>Status</th>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let internship of internships; let i = index">
                    <td>{{ internship.date }}</td>
                    <td>{{ internship.status }}</td>
                    <td>{{ internship.company }}</td>
                    <td>{{ internship.role }}</td>
                    <td>
                        <button type="button" (click)="onEdit(internship._id)" class="btn btn-edit">Edit/Notes</button>
                        <button type="button" (click)="onDelete(internship._id)" class="btn btn-delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- </body> -->
